<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About</h2>
<div class="summary">
    <p>I'm Software Engineer with a long full-stack development experience and agile methodologies. Over the last few years, I'm focused on backend, data analysis and data engineering area helping e-commerces and fintechs to grow business through data insights. In this process, I've worked with Python, Java, Go, Spark, Cassandra, MongoDB, Solr, Redshift and AWS, and being technical reference on my teams.</p>
</div><!--//summary-->
</section><!--//section-->
