<div class="education-container container-block">
  <h2 class="container-block-title">Education</h2>
  <div class="item">
    <h4 class="degree">BSc in Computer Engineering</h4>
    <h5 class="meta">Federal University of Espírito Santo</h5>
    <div class="time">April 2005 - January 2012</div>
  </div><!--//item-->
  <div class="item">
    <h4 class="degree"><a href="https://confirm.udacity.com/FKXHKAUS">Fundamentals of Data Science I</a></h4>
    <h5 class="meta">Udacity</h5>
    <div class="time">September 2017 - November 2017</div>
  </div><!--//item-->
  <div class="item">
    <h4 class="degree"><a href="https://confirm.udacity.com/XQPEM6CH">Fundamentals of Data Science II</a></h4>
    <h5 class="meta">Udacity</h5>
    <div class="time">September 2017 - December 2017</div>
  </div><!--//item-->
</div><!--//education-container-->
