<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Head of Data Engineering</h3>
                <div class="time">September 2021 - current</div>
            </div><!--//upper-row-->
            <div class="company">Quanto - São Paulo, SP (remote)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Data Platform</li>
                <li>Data Quality</li>
                <li>Data Governance</li>
                <li>Data Insights</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Tech Manager | Platform</h3>
                <div class="time">February 2021 - July 2021</div>
            </div><!--//upper-row-->
            <div class="company">pagar.me - São Paulo, SP (remote)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>PCI DSS and SOX</li>
                <li>Recruiting</li>
                <li>Product Backlog</li>
                <li>1:1</li>
                <li>Mentoring</li>
                <li>Implement Architecture Decision Record practices</li>
                <li>Cloud Architecture strategy</li>
                <li>Agile Methodologies</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">November 2019 - February 2021</div>
            </div><!--//upper-row-->
            <div class="company">pagar.me - São Paulo, SP (remote)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Infrastructure as a code (Ansible, Packer and Terraform)</li>
                <li>Go application development</li>
                <li>API Gateway with NGNIX and OpenResty</li>
                <li>CI pipelines with Circle CI</li>
                <li>Container hardening</li>
                <li>PCI DSS and SOX</li>
                <li>Recruiting</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Solutions Architect</h3>
                <div class="time">June 2019 - October 2019</div>
            </div><!--//upper-row-->
            <div class="company">Pag! - Vitória, ES</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>AWS infrastructure (Network topology and Applications architecture)</li>
                <li>AWS Billing management</li>
                <li>CI/CD project for Backend and Mobile</li>
                <li>DevOps and SRE teams management</li>
                <li>Infrastructure as a code (Ansible, Packer and Terraform)</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Data Engineer</h3>
                <div class="time">July 2018 - June 2019</div>
            </div><!--//upper-row-->
            <div class="company">Pag! - Vitória, ES</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Metabase (dashboard tool) deploy and configuration</li>
                <li>Data Analysis with Jupyter notebooks and SQL (Fraud ,Money Laundry, Behavior and others)</li>
                <li>ETL pipeline with Jenkins, PDI and Kettle</li>
                <li>Jenkins server configuration</li>
                <li>Data integration with Helpshift, Infobip, Facebook and AppsFlyer (pure Python)</li>
                <li>Design Data Lake infrastructure</li>
                <li>Incident response support</li>
                <li>Mentorship</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">February 2018 - July 2018</div>
            </div><!--//upper-row-->
            <div class="company">Wine.com.br - Vitória, ES</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Web crawlers using Ruby and Python</li>
                <li>Python notebooks for analysis various datasets and get business insights</li>
                <li>Provision Docker Jupyter Lab server for team work</li>
                <li>Microservices using API Gateway, Lambda and DynamoDB</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">August 2016 - January 2018</div>
            </div><!--//upper-row-->
            <div class="company">B2W Digital, Rio de Janeiro</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Microservices using Go and Java</li>
                <li>WebApps with Node and React</li>
                <li>Big Data Pipeline processing with Spark (AWS EMR)</li>
                <li>MongoDB and Cassandra queries</li>
                <li>Kibana dashboards</li>
                <li>Mesos/Marathon deploy using Bamboo CI</li>
                <li>New Relic for monitoring and performance analysis</li>
                <li>Newest APIs we're using Go with great success and Node for webapps.</li>
                <li>Development environment with Docker and docker-compose</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">May 2013 - August 2016</div>
            </div><!--//upper-row-->
            <div class="company">Intelie, São Paulo (remote)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Ruby On Rails development with JRuby</li>
                <li>MySQL queries</li>
                <li>vSphere administration</li>
                <li>Linux servers administration: CentOS and Ubuntu</li>
                <li>Server provision with Vagrant. Puppet and Ansible on AWS and others</li>
                <li>Frontend development with jQuery, Backbone, Angular and React</li>
                <li>Windows desktop application development with Python (mostly GUI with Qt) and C++</li>
                <li>Provision Selenium Grid with Docker </li>
                <li>MongoDB provision and queries</li>
                <li>WebApps with Node and Java</li>
                <li>Data extractors from Google Analytics, Google Spreadsheats, Zendesk, SNMP, Twitter and others</li>
                <li>Machine stats collector with Go</li>
                <li>Ansible plugins with Python</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">April 2012 - January 2013</div>
            </div><!--//upper-row-->
            <div class="company">Giran, Espírito Santo</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Ruby On Rails development</li>
                <li>Frontend development with jQuery and plugins</li>
                <li>Server provision with Bash Scripts on Linode</li>
                <li>MySQL queries and backup & restore</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Community Manager</h3>
                <div class="time">September 2011 - April 2012</div>
            </div><!--//upper-row-->
            <div class="company">iMasters, Espírito Santo</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Support developers working with API’s from PayPal, MoIP and Buscapé</li>
                <li>Write articles to portal</li>
                <li>Review articles</li>
                <li>Translation</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
