<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Projects with my participation outside of any work experience.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://www.meetup.com/Vix-Data-Meetup/">Vix Data</a></span> - <span class="project-tagline">Member and Staff of meetup group about Data Science and others.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://www.dev-es.org/">Dev ES</a></span> - <span class="project-tagline">Member and Staff of the developer's community at ES.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#hook">Research at UFES</a></span> - <span class="project-tagline">Working on computer-supported diagnosis of tuberculosis through Baciloscopy. The following automated procedure is used: (a) acquisition of image stacks taken at different focal depths in various XY slide positions in an automated microscope, (b) images transmission to a cluster, (c) application of deconvolution algorithms to reduce the point­spread function effect of the light microscope, (d) application of segmentation algorithms for selection of images with bacilli sugestive structures. The result obtained by the automated process is finally presented to the specialist for a definitive diagnosis.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#hook">ACM-ICPC Coach at UFES</a></span> - <span class="project-tagline">Responsible to teach new students how to compete in programming contest. Programming languages tips and tricks, data structures and algorithms. Organize fake competitions to prepare students for real competitions.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">System and Network Administrator of Computer Science Department at UFES</a></span> -
        <span class="project-tagline">Responsible to maintain and improve CS Department servers and network.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Workshop to new students at UFES</a></span> - <span class="project-tagline">Responsible to teach for new students about Linux, basic usage and programming environment.</span>
    </div><!--//item-->
</section><!--//section-->